<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>
</head>
<body>
    <form method="post">
        Név: <br>
        <input type="text" name="name"> <br><br>
        Számlázási cím: <br>
        <input type="text" name="szaml_orszag" placeholder="Ország">
        <input type="number" name="iranyitoSzam" placeholder="Írányítószám"> <br>
        <input type="text" name="varos" placeholder="Város">
        <input type="text" name="utcahazszam" placeholder="Utca és házszám"> <br><br>

        Szállítási cím: <br>
        <input type="text" name="szaml_orszag2" placeholder="Ország">
        <input type="number" name="iranyitoSzam2" placeholder="Írányítószám"> <br>
        <input type="text" name="varos2" placeholder="Város">
        <input type="text" name="utcahazszam2" placeholder="Utca és házszám"> <br><br>

        Kuponkód: <br>
        <input type="text" name="kuponkod" placeholder="NN-0000"><br><br>

        Fizetés: <br>
        Bankkártya száma: <br>
        <input type="text" name="szamlaszam" placeholder="XXXX-XXXX-XXXX-XXXX"><br>
        Lejárati Dátum: <br>
        <input type="text" name="lejarat" placeholder="HH/ÉÉ"><br>
        Biztonsági kód: <br>
        <input type="number" name="kod" placeholder="000"><br>

        <% for(let e of errors){ %>
            response.render('adatmegadas', {
                errors
            })
        }

        <input type="submit" value="submit">
    </form>
</body>
</html>