<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>
    <style>
        button{
            border: 0cap;
        }
    </style>
</head>
<body>
    <form action="/adatMegadas">
      
                    <label for="squad" name="squad"  >
                        <button type="submit"><img src="ketsoros.png" alt="kétsoros kori" style="height: 200px;"></button>
                        
                    </label>
               
                    <label for="freeskate" name="squad">
                        <button type="submit"><img src="free.png" alt="Freestyle kori" style="height: 200px;"></button>
                        
                    </label>
               
                    <label for="agro" name="agro">
                        <button type="submit"><img src="agro.png" alt="agressive skate" style="height: 200px;"></button>
                        
                    </label>
               
             
        
    </form>
</body>
</html>