<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sikeres rendelés</title>
</head>
<body>
  <div>
    <h2>Sikeres rendelés!</h2>
    <p>Köszönjük, hogy nálunk vásárolt.</p>
  </div>
</body>
</html>